In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.columns

Index(['PassengerId', 'Name', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [3]:
df.drop(['PassengerId', 'SibSp', 'Parch', 'Name', 'Ticket','Cabin', 'Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
target=df['Survived']
input=df.drop('Survived',axis='columns')

In [5]:
dummies = pd.get_dummies(input.Sex)
dummies = dummies.astype(int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [7]:
input = pd.concat([input,dummies],axis='columns')
input.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [8]:
input.drop("Sex",axis='columns',inplace=True)

In [9]:
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [10]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [11]:
input.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [12]:
input.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [13]:
input.Age = input.Age.fillna(input.Age.mean())
input.isnull().sum()

Pclass    0
Age       0
Fare      0
female    0
male      0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input,target, test_size=0.3)

In [15]:
len(X_train), len(X_test)

(623, 268)

In [16]:
len(input)

891

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [18]:
model.fit(X_train, y_train)

GaussianNB()

In [19]:
model.score(X_test, y_test)

0.7835820895522388

In [20]:
X_test[:10]

     Pclass        Age      Fare  female  male
550       1  17.000000  110.8833       0     1
748       1  19.000000   53.1000       0     1
227       3  20.500000    7.2500       0     1
792       3  29.699118   69.5500       1     0
286       3  30.000000    9.5000       0     1
334       1  29.699118  133.6500       1     0
554       3  22.000000    7.7750       1     0
284       1  29.699118   26.0000       0     1
322       2  30.000000   12.3500       1     0
850       3   4.000000   31.2750       0     1

In [21]:
y_test[:10]

550    1
748    0
227    0
792    0
286    1
334    1
554    1
284    0
322    1
850    0
Name: Survived, dtype: int64

In [22]:
print(model.predict(X_test[:10]))

[1 0 0 1 0 1 1 0 1 0]

In [23]:
model.predict_log_proba(X_test[:10])

array([[-9.28320471e-01, -5.02885450e-01],
       [-1.14326864e-01, -2.22531259e+00],
       [-8.97179272e-03, -4.71815231e+00],
       [-3.21060386e+00, -4.11681489e-02],
       [-7.73651416e-03, -4.86566982e+00],
       [-8.84092416e+00, -1.44699438e-04],
       [-2.42338804e+00, -9.27962854e-02],
       [-6.42413274e-02, -2.77705726e+00],
       [-3.05553501e+00, -4.82427062e-02],
       [-1.69373594e-02, -4.08669021e+00]])