Categorical Variables and One Hot Encoding

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monrow township  2600  550000
1   monrow township  3000  565000
2   monrow township  3200  610000
3   monrow township  3600  680000
4   monrow township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9      robbinsville  2600  575000
10     robbinsville  2900  600000
11     robbinsville  3100  620000
12     robbinsville  3600  695000

Using pandas to create dummy variables

In [3]:
dummies = pd.get_dummies(df.town)
dummies = dummies.astype(int)
dummies

    monrow township  robbinsville  west windsor
0                 1             0             0
1                 1             0             0
2                 1             0             0
3                 1             0             0
4                 1             0             0
5                 0             0             1
6                 0             0             1
7                 0             0             1
8                 0             0             1
9                 0             1             0
10                0             1             0
11                0             1             0
12                0             1             0

In [4]:
merged = pd.concat([df,dummies],axis='columns')
merged

               town  area   price  monrow township  robbinsville  west windsor
0   monrow township  2600  550000                1             0             0
1   monrow township  3000  565000                1             0             0
2   monrow township  3200  610000                1             0             0
3   monrow township  3600  680000                1             0             0
4   monrow township  4000  725000                1             0             0
5      west windsor  2600  585000                0             0             1
6      west windsor  2800  615000                0             0             1
7      west windsor  3300  650000                0             0             1
8      west windsor  3600  710000                0             0             1
9      robbinsville  2600  575000                0             1             0
10     robbinsville  2900  600000                0             1             0
11     robbinsville  3100  620000                0             1             0
12     robbinsville  3600  695000                0             1             0

In [5]:
final = merged.drop(['town'], axis=1)
final

    area   price  monrow township  robbinsville  west windsor
0   2600  550000                1             0             0
1   3000  565000                1             0             0
2   3200  610000                1             0             0
3   3600  680000                1             0             0
4   4000  725000                1             0             0
5   2600  585000                0             0             1
6   2800  615000                0             0             1
7   3300  650000                0             0             1
8   3600  710000                0             0             1
9   2600  575000                0             1             0
10  2900  600000                0             1             0
11  3100  620000                0             1             0
12  3600  695000                0             1             0

When you can derive one variable from other variables, they are known to be multi-colinear. Here if you know values of california and georgia then you can easily infer value of new jersey state, i.e. california=0 and georgia=0. There for these state variables are called to be multi-colinear. In this situation linear regression won't work as expected. Hence you need to drop one column.

NOTE: sklearn library takes care of dummy variable trap hence even if you don't drop one of the state columns it is going to work, however we should make a habit of taking care of dummy variable trap ourselves just in case library that you are using is not handling this for you

In [6]:
X = final.drop('price', axis='columns')
X

    area  monrow township  robbinsville  west windsor
0   2600                1             0             0
1   3000                1             0             0
2   3200                1             0             0
3   3600                1             0             0
4   4000                1             0             0
5   2600                0             0             1
6   2800                0             0             1
7   3300                0             0             1
8   3600                0             0             1
9   2600                0             1             0
10  2900                0             1             0
11  3100                0             1             0
12  3600                0             1             0

In [7]:
y = final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
model.fit(X,y)

LinearRegression()

In [10]:
model.predict(X) # 2600 sqr ft home in new jersey

array([539709.73984091, 590468.71640508, 615848.20468716, 666607.18125133,
       717366.1578155 , 579723.71533005, 605103.20361214, 668551.92431735,
       706621.15674047, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [11]:
model.score(X,y)

0.9573929037221872

In [14]:
model.predict([[3400,0,0,1]]) # 3400 sqr ft home in west windsor

D:\SKG\Tutorial Resources\ML Code\venv_ml\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])

In [16]:
model.predict([[2800,0,1,0]]) # 2800 sqr ft home in robbinsville

D:\SKG\Tutorial Resources\ML Code\venv_ml\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.6396474])

Using sklearn OneHotEncoder

The first step is to use a label encoder to convert town names into numbers

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [18]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [19]:
X = dfle[['town','area']].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [20]:
y = dfle.price.values
y

array([550000, 565000, 610000, 680000, 725000, 585000, 615000, 650000,
       710000, 575000, 600000, 620000, 695000], dtype=int64)

In [21]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [22]:
X = ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [23]:
X = X[:,1:]
X

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [24]:
model.fit(X,y)

LinearRegression()

In [25]:
model.predict([[0,1,3400]]) # 3400 sqr ft home in west windsor

array([681241.6684584])

In [26]:
model.predict([[1,0,2800]]) # 2800 sqr ft home in robbinsville

array([590775.63964739])